*{
    font-family: 'Bebas Neue', cursive;
}
p {
    font-family: 'Josefin Sans', sans-serif;
}
.container {
    max-width:1600px;
    margin: 0 auto;
    padding: 0 20px;
}
.inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    .images{
        margin-left: 470px;
    }
    .images a{
        margin-left: 40px;
        text-decoration: none;
    }
    .navigation a{
        text-decoration: none;
        color:#222222;
        margin-right: 50px;
    }

    .inner_2{
        padding-top: 50px;
        background-color: #F8F8F8;
    }
    .inner_2 h1 {
        font-family: Bebas Neue;
        font-size: 60px;
        text-transform: uppercase;
        text-align: center;
    }
    .inner_2 span {
        color:#C4C4C4;
    }

    .inner_3 {
        margin-top: 70px;   
        width: 1920px;
        min-height: 837.6px;
        background: url(../img/image.png) no-repeat;
        background-size: cover;
    }
    .inner_4 {
        background: #F8F8F8;
    }

    .inner4_1 h4{
        margin-left: 100px;
        

        font-family: Bebas Neue;
        font-size: 75px;
        line-height: 75px;
        display: flex;
        align-items: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;

        color: #222222;

    }
    .inner_p {
        margin-left:100px;
        margin-top: 0;
        padding-top: 50px;
        color: #C3AA5B;

        font-family: Bebas Neue;
        font-size: 50px;
        line-height: 50px;
        display: flex;
        align-items: center;
        text-transform: capitalize;
    }
    .inner4_2 {
        margin-left: 300px;
        width: 1070px;

        font-family: Josefin Sans;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 30px;
    }
    .inner4_3 button {
        margin-left: 300px;
        margin-top: 50px;
        font-family: Josefin Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 14px;
        text-align: center;
        text-transform: uppercase;
        color: #222222;
        padding: 20px 70px;
    }

    .inner5_1 {
        text-transform: uppercase;
        text-align: center;
        font-family: Bebas Neue;
        font-size: 60px;
        line-height: 60px;
    }
    .inner5_2{
        display: flex;
        justify-content: space-between;
    }
    .inner5_2_1 span {
        margin-left: 100px;
        margin-top: 70px;
        font-family: Bebas Neue;
        font-size: 30px;
        line-height: 30px;
        display: flex;
        align-items: center;
        text-transform: capitalize;

        color: #C3AA5B;
    }
    .inner5_2_2 span {
        margin-left: 40px;
        margin-top: 70px;
        font-family: Bebas Neue;
        font-size: 30px;
        line-height: 30px;
        display: flex;
        align-items: center;
        text-transform: capitalize;

        color: #C3AA5B;
    }
    .inner5_2_1 h6 {
        margin: 0;
        margin-top: 80px;
        font-family: Bebas Neue;
        font-size: 36px;
        line-height: 36px;
        display: flex;
        align-items: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #222222;
    }
    .inner5_2_1 p {
        font-family: Josefin Sans;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 30px;
        color: #222222;
    }
    .flex {
        display: flex;
        justify-content: space-between;
    }
    .flex2 {
        margin-left: 100px;
    }
    .inner5_2_2 h6 {
        margin: 0;
        margin-top: 80px;
        font-family: Bebas Neue;
        font-size: 36px;
        line-height: 36px;
        display: flex;
        align-items: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #222222;
    }
    .inner5_2_2 p {
        font-family: Josefin Sans;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 30px;
        color: #222222;
    }
    .flex1{
        margin-left: 60px;
        display: flex;
        justify-content: space-between;
    }
    .flex3 {
        margin-left: 100px;
    }